@model List<Presentation.Areas.Admin.Models.TourEmployeeViewModel>
@{
    ViewData["Title"] = "Danh sách nhân viên trong Tour";
    Layout = "_AdminContentLayout";
}
<div class="page-header">
    <h3 class="fw-bold mb-3">Danh sách Nhân Viên Chuyến Đi</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            Danh sách
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách Filters</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="multi-filter-select"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Tour ID</th>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Position</th>
                            </tr>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Tour ID</th>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Position</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var t in Model)
                            {
                                <tr>
                                    <td>@t.TourID</td>
                                    <td>@t.EmployeeID</td>
                                    <td>@t.Name</td>
                                    <td>@t.Position</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Tour ID</th>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Position</th>
                                <th style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Tour ID</th>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Position</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var t in Model)
                            {
                                <tr>
                                    <td>@t.TourID</td>
                                    <td>@t.EmployeeID</td>
                                    <td>@t.Name</td>
                                    <td>@t.Position</td>
                                    <td>
                                        <div class="form-button-action">
                                            
                                            <a class="btn btn-link btn-danger " type="button"
                                               asp-area="Admin"
                                               asp-route-CustomerID=@t.TourID
                                               asp-route-EmployeeID=@t.EmployeeID
                                               asp-controller="TourDestination"
                                               asp-action="Delete">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>