@model List<Presentation.Areas.Admin.Models.BookingViewModel>
@{
    ViewData["Title"] = "Danh sách booking";
    Layout = "_AdminContentLayout";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Danh sách đặt Tour</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a 
                asp-area="Admin"
                asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
    </ul>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách Filters</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="multi-filter-select"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tour ID</th>
                                <th>Customer ID</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Adult</th>
                                <th>Child</th>
                                <th>TotalPrice</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Tour ID</th>
                                <th>Customer ID</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Adult</th>
                                <th>Child</th>
                                <th>TotalPrice</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var b in Model)
                            {
                                <tr>
                                    <td>@b.BookingID</td>
                                    <td>@b.TourID</td>
                                    <td>@b.CustomerID</td>
                                    <td>@b.CreateAt</td>
                                    <td>@b.ModifyAt</td>
                                    <td>@b.Adult</td>
                                    <td>@b.Child</td>
                                    <td>@b.TotalPrice</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Thông tin chi tiết</h4>
                    <a class="btn btn-primary btn-round ms-auto"
                       asp-area="Admin"
                       asp-action="Create"
                       asp-controller="Booking">
                        <i class="fa fa-plus"></i>
                        Thêm booking
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <th>Tour ID</th>
                                <th>Customer ID</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Adult</th>
                                <th>Child</th>
                                <th>TotalPrice</th>
                                <th style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Tour ID</th>
                                <th>Customer ID</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Adult</th>
                                <th>Child</th>
                                <th>TotalPrice</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var b in Model)
                            {
                                <tr>
                                    <td>@b.BookingID</td>
                                    <td>@b.TourID</td>
                                    <td>@b.CustomerID</td>
                                    <td>@b.CreateAt</td>
                                    <td>@b.ModifyAt</td>
                                    <td>@b.Adult</td>
                                    <td>@b.Child</td>
                                    <td>@b.TotalPrice</td>
                                    <td>
                                        <div class="form-button-action">
                                            <a class="btn btn-link btn-primary" type="button"
                                               asp-area="Admin"
                                               asp-route-BookingID=@b.BookingID
                                               asp-controller="Booking"
                                               asp-action="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>


                                            <a class="btn btn-link" type="button"
                                               id="paymentButton_@b.BookingID"
                                               asp-area="Admin"
                                               asp-route-BookingID="@b.BookingID"
                                               data-status="@ViewData[$"Status_{b.BookingID}"].ToString().ToLower()"
                                               asp-controller="Payment"
                                               asp-action="checkStatus">
                                                <i class="fas fa-money-check-alt"></i>
                                            </a>
                                            

                                            <a class="btn btn-link btn-danger " type="button"
                                               asp-area="Admin"
                                               asp-route-BookingID=@b.BookingID
                                               asp-controller="Booking"
                                               asp-action="Delete">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        $(document).ready(function () {
            $('[id^="paymentButton_"]').each(function () {
                var paymentButton = $(this);

                // Lấy giá trị từ thuộc tính data-status
                var status = paymentButton.data('status');

                var isStatusTrue = status === true;

                if (isStatusTrue) {
                    paymentButton.removeClass('btn-warning').addClass('btn-success');
                    paymentButton.attr('asp-action', 'Create');
                } else {
                    paymentButton.removeClass('btn-success').addClass('btn-warning');
                    paymentButton.attr('asp-action', 'checkStatus');
                }
            });
        });

</script>
}