@model List<Presentation.Models.PaymentViewModel>
@{
    ViewData["Title"] = "Danh sách thanh toán";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Booking ID</th>
            <th>Method</th>
            <th>Status</th>
            <th>CreateAt</th>
            <th>ModifyAt</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.PaymentID</td>
                <td>@i.BookingID</td>
                <td>@i.Method</td>
                <td>@i.Status</td>
                <td>@i.CreateAt</td>
                <td>@i.ModifyAt</td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <a asp-action="Update"
                           asp-controller="Payment"
                           asp-route-PaymentID="@i.PaymentID"
                           class="btn btn-primary">
                            Cập nhật thông tin
                        </a>

                        <a asp-action="Delete"
                           asp-controller="feedback"
                           asp-route-PaymentID="@i.PaymentID"
                           class="btn btn-danger">
                            Xóa
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-action="Create">Thêm thanh toán mới</a>
