@model List<Presentation.Models.TourEmployeeViewModel>
@{
    ViewData["Title"] = "Danh sách nhân viên trong Tour";
}

<table class="table">
    <thead>
        <tr>
            <th>Tour ID</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Position</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.TourID</td>
                <td>@t.EmployeeID</td>
                <td>@t.Name</td>
                <td>@t.Position</td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <a asp-action="Delete"
                           asp-controller="TourEmployee"
                           asp-route-tour_id="@t.TourID"
                           asp-route-employee_id="@t.EmployeeID"
                           class="btn btn-danger">
                            Xóa
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-action="Create">Thêm nhân viên vào tour</a>
