@model List<Presentation.Models.TourDestinationViewModel>
@{
    ViewData["Title"] = "Danh sách địa điểm trong Tour";
}

<table class="table">
    <thead>
        <tr>
            <th>Tour ID</th>
            <th>Destination ID</th>
            <th>Visit Date</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.TourID</td>
                <td>@t.DestinationID</td>
                <td>@t.VisitDate</td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <a asp-action="Update"
                           asp-controller="TourDestination"
                           asp-route-TourID="@t.TourID"
                           asp-route-DestinationID="@t.DestinationID"
                           class="btn btn-primary">
                            Cập nhật thông tin
                        </a>

                        <a asp-action="Delete"
                           asp-controller="TourDestination"
                           asp-route-TourID="@t.TourID"
                           asp-route-DestinationID="@t.DestinationID"
                           class="btn btn-danger">
                            Xóa
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-action="Create">Thêm thông tin địa điểm tour Mới</a>
