@model Domain.Entities.Location.City




<h2>City: @Model.Name</h2>
<h2>Code: @Model.Code</h2>
<h2>Districts: </h2>
@foreach (var d in Model.District)
{
    <h3>District: @d.Name</h3>
    <h3>Pre: @d.Pre</h3>
    <h3>Wards: </h3>
    @foreach (var w in @d.Ward)
    {
        <h4>Name: @w.Name</h4>
        <h4>Pre: @w.Pre</h4>
    }
}