@model List<Presentation.Models.TourViewModel>
@{
    ViewData["Title"] = "Danh sách Tour";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Price</th>
            <th>AvaiableSeats</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.TourID</td>
                <td>@t.Title</td>
                <td>@t.Description</td>
                <td>@t.StartDate</td>
                <td>@t.EndDate</td>
                <td>@t.Price</td>
                <td>@t.AvailableSeats</td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <a asp-action="Update"
                           asp-controller="Tour"
                           asp-route-tour_id="@t.TourID"
                           class="btn btn-primary">
                            Cập nhật thông tin
                        </a>

                        <a asp-action="Delete"
                           asp-controller="Tour"
                           asp-route-tour_id="@t.TourID"
                           class="btn btn-danger">
                            Xóa
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-action="Create">Thêm thông tin tour Mới</a>
