@model List<Domain.Entities.Employee>
@{
    ViewData["Title"] = "Danh sách nhân viên";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Position</th>
            <th>Address</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.employee_id</td>
                <td>@employee.first_name</td>
                <td>@employee.last_name</td>
                <td>@employee.email</td>
                <td>@employee.phone</td>
                <td>@employee.position</td>
                <td>@employee.address</td>
                <td>
                    <div class="w-100 btn-group" role="group">
                    <a 
                        asp-action="Update" 
                        asp-controller="Employee"
                        asp-route-employee_id="@employee.employee_id"
                        class="btn btn-primary"
                    >Cập nhật thông tin</a>
                    <a 
                        asp-action="Delete" 
                        asp-controller="Employee"
                        asp-route-employee_id="@employee.employee_id"
                        class="btn btn-danger"
                    >Xóa</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-action="Create">Thêm Nhân Viên Mới</a>
