@model List<Presentation.Areas.Admin.Models.FeedbackViewModel>
@{
    ViewData["Title"] = "Danh sách Đánh Giá";
    Layout = "_AdminContentLayout";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Danh sách Đánh Giá</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            Danh sách
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách Filters</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="multi-filter-select"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tour ID</th>
                                <th>Customer ID</th>
                                <th>Rating</th>
                                <th>Comments</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                            </tr>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Tour ID</th>
                                <th>Customer ID</th>
                                <th>Rating</th>
                                <th>Comments</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var feedback in Model)
                            {
                                <tr>
                                    <td>@feedback.FeedbackID</td>
                                    <td>@feedback.TourID</td>
                                    <td>@feedback.CustomerID</td>
                                    <td>@feedback.Rating</td>
                                    <td>@feedback.Comments</td>
                                    <td>@feedback.CreateAt</td>
                                    <td>@feedback.ModifyAt</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Thông tin chi tiết</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Tour ID</th>
                                <th>Customer ID</th>
                                <th>Rating</th>
                                <th>Comments</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Tour ID</th>
                                <th>Customer ID</th>
                                <th>Rating</th>
                                <th>Comments</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var feedback in Model)
                            {
                                <tr>
                                    <td>@feedback.TourID</td>
                                    <td>@feedback.CustomerID</td>
                                    <td>@feedback.Rating</td>
                                    <td>@feedback.Comments</td>
                                    <td>@feedback.CreateAt</td>
                                    <td>@feedback.ModifyAt</td>
                                    <td>
                                        <div class="form-button-action">
                                            <a class="btn btn-link btn-primary" type="button"
                                               asp-area="Admin"
                                               asp-route-FeedbackID=@feedback.FeedbackID
                                               asp-controller="Feedback"
                                               asp-action="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-link btn-danger " type="button"
                                               asp-area="Admin"
                                               asp-route-FeedbackID=@feedback.FeedbackID
                                               asp-controller="Feedback"
                                               asp-action="Delete">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

